# **Previsão de Pouso do Primeiro Estágio de Foguetes Falcon 9**

### Análise Exploratória de Dados (AED)

A análise exploratória de dados (EDA) é usada por cientistas de dados para analisar e investigar conjuntos de dados e resumir suas principais características, muitas vezes usando métodos de visualização de dados. Ela permite determinar a melhor forma de controlar as fontes de dados para obter as respostas que você precisa, tornando mais fácil para os cientistas de dados descobrir padrões, detectar anomalias, testar uma hipótese ou verificar suposições.

### Objetivos

* Carregar o conjunto de dados da SpaceX em uma tabela correspondente na base de dados DB2 da IBM;
* Executar consultas SQL na base de dados para obtenção das respostas necessárias.
* Entender o conjunto de dados da SpaceX;

### Download do conjunto de dados da SpaceX

URL: <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Armazenamento do conjunto de dados na tabela do banco de dados DB2

No console do Db2, carregaremos o conjunto de dados .CSV da SpaceX e em seguida criaremos uma nova tabela no banco da dados chamada 'SPACEXDATASET'

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

**Ao carregar o conjunto de dados Spacex, desabilitaremos a detecção de tipos de dados. Também editaremos o formato da data e alteraremos o tipo de dado de 'PAYLOAD_MASS', conforme a seguir:**

1.  Para correponder aos dados do conjunto de dados da SpaceX alteraremos o formato da data para 'DD-MM-YYYY' e o formato do carimbo para 'DD-MM-YYYY HH\:MM:SS';

2.  Alteraremos o tipo de dado de PAYLOAD_MASS\_\_KG\_ de FLOAT para INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

### Instalação das bibliotecas necessárias

In [7]:
# Caso as bibliotecas não tenham sido instaladas, bata remover o '#' que precede os codigos abaixo
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
#!pip install ipython-sql

### Conexão à base de dados

Primeiramente, iremos carregar a extensão SQL no python para então estabelecer uma conexão com o banco de dados DB2

In [2]:
# Carregamento da extensão SQL (Possibilita usar códigos SQL no Python)
%load_ext sql

Para que a conexão seja estabelecida é necessário construir o endereço de acesso do banco dados, seguindo seguinte formato:

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

Username, password, hostname, port podem ser identificados na seção 'Service Credencials' do DB2, conforme na imagem a seguir:

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>

In [4]:
# Após a identificação dos elementos necessários a construção do endereço de acesso ao banco de dados, basta construir o endereço e acessá-lo através do comando '%sql'
%sql ibm_db_sa://5c7b0dd1:GsFKVr3699D3v7DU@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB?security=SSL

### Respondendo perguntas de interesse e conhecendo os dados

##### 1 - Quais são os locais de lançamento dos foguetes?

In [11]:
%%sql 

SELECT DISTINCT(launch_site) AS "Launch Sites" FROM SPACEXDATASET;

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

##### 2 - Apresenta 5 registros referentes aos locais de lançamento que começam com 'CCA'

In [12]:
%%sql 

SELECT * FROM SPACEXDATASET WHERE launch_site LIKE 'CCA%' LIMIT 5;

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

##### 3 - Qual foi o total de massa de carga útil 'payload_mass__kg_' transportada por propulsores lançados pela NASA (CRS) 'customer'?

In [67]:
%%sql

SELECT customer AS "Customer", SUM(payload_mass__kg_) AS "Total Payload Mass Carried" 
FROM SPACEXDATASET
GROUP BY customer
HAVING customer = 'NASA (CRS)';

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[('NASA (CRS)', 45596)]

##### 4 - Qual foi a média da massa de carga útil transportada pela versão de reforço F9 v1.1

In [69]:
%%sql

SELECT booster_version AS "Booster Version", AVG(payload_mass__kg_) AS "Average Payload Mass Carried" 
FROM SPACEXDATASET
GROUP BY booster_version
HAVING booster_version = 'F9 v1.1';

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[('F9 v1.1', 2928)]

##### 5 - Qual foi a data em que o resultado do primeiro pouso bem-sucedido foi alcançado na plataforma de solo (ground pad)?

In [88]:
%%sql

SELECT DATE AS "Date", landing__outcome AS "Landing Outcome" FROM SPACEXDATASET
WHERE landing__outcome = 'Success (ground pad)' AND DATE = (SELECT MIN(DATE) FROM SPACEXDATASET
WHERE landing__outcome = 'Success (ground pad)');

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[(datetime.date(2015, 12, 22), 'Success (ground pad)')]

##### 6 - Quais boosters de massa de carga útil entre 4000kg e 6000kg obtiveram sucesso ao pousar em navio drone?

In [94]:
%%sql

SELECT booster_version AS "Booster", landing__outcome AS "Landing Outcome" FROM SPACEXDATASET
WHERE landing__outcome = 'Success (drone ship)' AND payload_mass__kg_ BETWEEN 4001 AND 5999;

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[('F9 FT B1022', 'Success (drone ship)'),
 ('F9 FT B1026', 'Success (drone ship)'),
 ('F9 FT  B1021.2', 'Success (drone ship)'),
 ('F9 FT  B1031.2', 'Success (drone ship)')]

##### 7 - Quais são os totais de sucesso e falha nas tentativas de pousos dos foguetes?

In [108]:
%%sql 
SELECT mission_outcome AS "Mission Outcome", COUNT(*) AS "Total Number" FROM SPACEXDATASET GROUP BY mission_outcome;

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

##### 8 - Quais booster_versions transportaram a massa de carga útil máxima?

In [111]:
%%sql

SELECT booster_version AS "Booster Version", payload_mass__kg_ AS "Maximum Payload Mass" FROM SPACEXDATASET
WHERE payload_mass__kg_ = (SELECT MAX(payload_mass__kg_) FROM SPACEXDATASET);

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7', 15600)]

##### 9 - Quais foram os booster versions que falharam ao tentar pousar em navio drone, bem como o local em que o lançamento foi realizado, no ano de 2015?

In [203]:
%%sql

SELECT landing__outcome AS "Landing Outcome", booster_version AS "Booster Version", launch_site AS "Launch Site", DATE AS "Date"
FROM SPACEXDATASET
WHERE landing__outcome = 'Failure (drone ship)' AND YEAR(DATE) = 2015;

# DATE FUNCTIONS: 
# YEAR(DATE): RETURNS YEAR;
# DAYNAME(DATE): RETURNS NAME OF DAY SUCHA AS MONDAY, SATURDAY, ETC;
# MONTH(DATE): RETURN MONTH;

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', datetime.date(2015, 1, 10)),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', datetime.date(2015, 4, 14))]

##### 10 - Qual é o rank do número de tentativas de pousos bem como seus respectivos resultados no período entre 2010-06-04 e 2017-03-20?

In [201]:
%%sql

SELECT landing__outcome AS "Landing Outcome", COUNT(landing__outcome) AS "Number of Landing Outcome"
FROM SPACEXDATASET
WHERE DATE BETWEEN '20100604' AND '20170320'
GROUP BY landing__outcome
ORDER BY "Number of Landing Outcome" DESC;

 * ibm_db_sa://5c7b0dd1:***@1c4bf356-b840-4c86-b681-f4b5bbff11a6.btv5p5fd0ct6383qftdg.databases.appdomain.cloud:31956/BLUDB
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]